*{
    box-sizing : border-box;
    margin : 0; 
    padding : 0;
}

.body-wrapper{
    margin : auto;
}

.title{
    padding : 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.headWrapper{
    margin : auto;
    display : flex;
    background : rgb(14, 77, 146);
    padding: 5rem;
    color : rgb(255,255,255);
    font-family: 'Courier New', Courier, monospace;
}

.headWrapper div {
    margin: 0.5rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2b2b3a;
    flex: 1;
}

.headWrapper div label{
    margin : 1rem;
    padding-left: 1rem;
}

.headWrapper div input{
    margin : 1rem;
    padding: 10px;
    background: rgb(244,251,183);
    flex-basis : 1 0 1;
}

.headWrapper .bg-div div{
    display : flex;
    background : green;
}

.generateBtn{
    height : 3rem;
    align-self: flex-end;
    margin-bottom : 2rem;
    padding: 1rem;
    font-size : 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.table-wrapper{
    width : 90%;
    margin : 5rem auto;
}

table{
    width : 80%;
    border : grey 2px solid;
    margin: auto;
}

thead{
    height: 2rem;
}

tr{
    width : 100%;
    border : yellowgreen 1px solid;
}

th{
    height : 2rem;
    border : #2b2b3a 2px solid;
}

tbody{
    border: orange 1px solid;
}

td{
    width : 3rem;
    height : 2rem;
    background : grey;
}
